@font-face{
font-family: Quicksand;
src: url(/font/Quicksand-Regular.ttf);
}

html {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  line-height: 1.5;
}
@media (min-width: 38em) {
  html {
    font-size: 18px;
  }
}

body {
    font-family: "Quicksand", sans-serif;
}

.navbar-nav li{
    padding-top: 10px;
    font-size: 18px;
}
.navbar-brand {
    height: 70px;
    padding-top: 10px;
}

.navbar {
    min-height: 70px;
}

.post-title a{
    text-decoration: none;
    color: #000000;
}

.post-title{
    font-size: 26px;
}

.post-date{
    font-size: 16px;
    
}

.post-content {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align:justify;
}
.post-content p{
    font-size: 20px;
}

.post-content h4{
    font-size: 22px;
    padding-top: 10px;
}

.caption p{
    font-size: 16px;
}

.about {
    font-size: 20px;
    text-align:justify;
}

.footer {
    color: #aaaaaa;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #eeeeee;
}

.sub-title {
    color: #aaaaaa;
}

table {
    margin: 15px 0;
    border-collapse: collapse;
    width: 100%;
    padding: 0;
}
table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: center;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr th :first-child, table tr td :first-child {
    margin: 0;
}
table tr th :last-child, table tr td :last-child {
    margin: 0;
}